<div class="container mt-5">
    <h2 class="mb-4 text-primary fw-bold">Gestión de Matrículas UTP</h2>

    <div class="card p-4 mb-4 shadow-sm border-primary">
        <h5 class="mb-3">Nueva Matrícula</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Estudiante:</label>
                <input [(ngModel)]="nuevaMatricula.estudiante" class="form-control" placeholder="Ej: Juan Pérez">
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label fw-bold">Categoría:</label>
                <select [(ngModel)]="nuevaMatricula.categoria" class="form-select">
                    <option value="" disabled selected>Seleccione una categoría</option>
                    <option value="Ingeniería">Ingeniería</option>
                    <option value="Derecho">Derecho</option>
                    <option value="Ciencias">Ciencias</option>
                </select>
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label fw-bold">Curso:</label>
                <select [(ngModel)]="nuevaMatricula.cursoId" class="form-select">
                    <option [ngValue]="null" disabled>Seleccione un curso...</option>
                    @for (curso of cursos; track curso.id) {
                        <option [value]="curso.id">{{ curso.nombre }} ({{ curso.creditos }} créditos)</option>
                    }
                </select>
            </div>
        </div>
        <button class="btn btn-primary w-100 fw-bold" (click)="matricular()">🎓 Registrar Matrícula</button>
    </div>

    <hr class="my-4">
    </div>