<div class="container mt-5">
  <h2 class="mb-4 text-primary fw-bold">Cafetería UTP - Pedidos</h2>

  <div class="card p-4 mb-5 shadow-sm border-success">
    <h5 class="mb-3 text-success">Registrar nuevo pedido</h5>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label fw-bold">Nombre del Estudiante:</label>
        <input [(ngModel)]="nuevoPedido.estudiante" class="form-control" placeholder="Ingrese su nombre">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label fw-bold">Categoría:</label>
        <select [(ngModel)]="nuevoPedido.productoId" class="form-select">
          <option value="" disabled selected>Seleccione una categoría...</option>
          <option value="Bebidas">Bebidas</option>
          <option value="Snacks">Snacks</option>
          <option value="Almuerzos">Almuerzos</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label class="form-label fw-bold">Cantidad:</label>
        <input type="number" [(ngModel)]="nuevoPedido.cantidad" class="form-control" min="1">
      </div>
      
      <div class="col-md-9 mb-3">
        <label class="form-label fw-bold">Observación:</label>
        <input [(ngModel)]="nuevoPedido.observacion" class="form-control" placeholder="Ej: Sin azúcar, poco hielo...">
      </div>
    </div>
    <button class="btn btn-success w-100 fw-bold" (click)="registrar()">Confirmar Pedido</button>
  </div>
</div>